body {
    color: grey;
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,900&display=swap');
.h1-sign-up-in-text {
    margin-top: 96px;
    color: rgb(197, 197, 197);
}
.sign-up-form-text {
    border: none;
    background-color: #b4b4b4;
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: -9px 10px 9px -1px rgba(0,0,0,0.25);
    -webkit-box-shadow: -9px 10px 9px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: -9px 10px 9px -1px rgba(0,0,0,0.25);
}
.sign-up-button {
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: 1.5s;
    color: grey;
    box-shadow: -9px 10px 9px -1px rgba(0,0,0,0.25);
    -webkit-box-shadow: -9px 10px 9px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: -9px 10px 9px -1px rgba(0,0,0,0.25);
    margin-right: 5px;
}
.sign-up-button:hover {
    box-shadow: -9px -1px 9px -1px rgba(0,0,0,0.25);
    -webkit-box-shadow: -9px -1px 9px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: -9px -1px 9px -1px rgba(0,0,0,0.25);
}
.p-sign-up {
    padding-bottom: 30px;
    font-weight: bolder;
}
a {
    color: #00a5f0;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.warntext {
    font-weight: bolder;
    color: rgb(191, 0, 0);
    font-size: 12px;
}